/* #region - Models/Checkpoint List - */

/* Childelements with even positions */
ul.options li:nth-child(even) {
    background-color: var(--color-accent-soft);
}

/* Childelements with odd positions */
ul.options li:nth-child(odd) {
    background-color: var(--border-color-accent);
}

.SeniModelGroupHeader {
    /* content: attr(data-group-title); */
    display: block;
    font-weight: bold;
    margin-top: 10px; /* Spacing between the headings */
    margin-bottom: 5px;
    font-size: 14pt;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 10px;
}

.SeniModelGroupHeader ul {
    margin-top: 10px;
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 2px;
}

.SeniModelGroupMember {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10pt;
    font-weight: normal;
    text-align: left;
}

.SeniModelSelected {
    font-weight: bold;
    color: orange;
}

/* #endregion - Models / Checkpoint List - */